<h1>Recipes</h1>
<body>
  <% @recipes.map do |recipe| %>
    <%= "#{recipe.name}" %>
  <% end %>
  <% @recipes.map do |recipe| %>
    <%= <a href="/recipes/#{@recipe1.id}"></a> %>
  <% end %>
</body>
